<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <img src="http://hawk1.di.uoa.gr/static/img/logo.1de8042b1172.png">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Login User</h3>
        </div>
        <div class="panel-body">
          <form class="login" name="loginForm" ng-submit="loginForm.$valid && login()" nonvalidate>
            <!--    Name-->
            <div class="form-group" ng-class="{'has-error': loginForm.userName.$dirty && loginForm.userName.$invalid, 'has-success': loginForm.userName.$valid }">
              <label for="inputName">Login</label>
                <div>
                    <input type="text" class="form-control" name="userName" id="inputName" placeholder="Enter yout User Name" ng-model="user.username" required>
                    <p class="help-block" ng-show="loginForm.userName.$dirty && loginForm.userName.$invalid">This field is required</p>
                </div>
            </div>
            <!--    Password-->
            <div class="form-group" ng-class="{'has-error': loginForm.password.$dirty && loginForm.password.$invalid, 'has-success': loginForm.password.$valid }">
              <label for="inputPassword">Password</label>
                <div>
                    <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Enter yout Password" ng-model="user.password" required>
                    <p class="help-block" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">This field is required</p>
                </div>
            </div>
            <input type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="loginForm.$invalid" value="Log In">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
